.logo{
  img{
    width: 150px;
  }
  margin-right: 120px;
}

.product {
  img {
    width: 100%;
  }
}

.header {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.banner {
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.banner-img-container {
  transition: opacity 500ms linear 0s;
}

.banner-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__title {
    line-height: 1.2;
    max-width: 254px;
  }
  &__description {
    margin-top: 10px;
    padding-bottom: 40px;
  }
  &__link {
    padding-top: 20px;
    border-top: 1px solid #ccc;
  }
}

.banner-img {
  position: relative;
  height: 400px;
}

.slider-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  padding: 10px 20px;
  font-size: 24px;
}

.products .product-description {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.categories,
.cart,
.checkout {
  min-height: 400px;
}

.cart-products,
.checkout-cart {
  th,
  td {
    padding: 10px 0;
  }
  tr {
    border-bottom: 1px solid #ccc;
  }
}

.woo-next-cart-total-container {
  max-height: 200px;
  height: 100%;
}

.woo-next-checkout-form {
  label {
    display: block;
  }
}

.main-title {
  position: relative;
  text-align: center;
  &:before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    height: 2px;
    width: 50%;
    background: #222;
    z-index: -1;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 50%;
    right: 0;
    height: 2px;
    width: 50%;
    background: #222;
    z-index: -1;
  }
}

.main-title-inner {
  background: #fff;
  padding: 0 20px;
}

.woo-next-cart-qty {
  input {
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 4px;
  }
}

//  Dropdown 

.categories-dropdown{
  border-top: 1px solid rgb(231, 231, 231);
}

.categories-nav{
  padding-top: 20px;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
} 

// Search Top Header

.search-bar{
  border: 1px solid rgb(212, 212, 212);
  border-radius:10px ;
  .search-icon{
    color: #fff;
    
  }
  .search-box{
    background-color: #27612f;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
  }
  .input-group.md-form.form-sm.form-1 input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
  }
  input:focus{
    outline-style: none;
    box-shadow: none;
    border: none;
  }
}


.win-carousel img{
  width: 100%;
  // opacity: 0.8;
  // color: black;
}

// Product Slider



// Heading Popular

.heading-popular h1{
  font-size: 30px;
  margin-left: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
}

.navigation a:hover{
  text-decoration: none;
}
.navigation a{
  padding-left: 10px;
}